`ifndef APB_BRIDGE_BASE_TEST_SV
`define APB_BRIDGE_BASE_TEST_SV
class bridge_base_test extends uvm_test;
  `uvm_component_utils(bridge_base_test)
  bridge_env env;
  function new(string name, uvm_component parent); super.new(name, parent); endfunction
  function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    env = bridge_env::type_id::create("env", this);
  endfunction
  task run_phase(uvm_phase phase);
    phase.raise_objection(this);
    #100ns;
    phase.drop_objection(this);
  endtask
endclass
`endif
