`ifndef DDR5_AGENT_SV
`define DDR5_AGENT_SV
class ddr5_agent extends uvm_agent;
  `uvm_component_utils(ddr5_agent)
  ddr5_sequencer sequencer; ddr5_driver driver; ddr5_monitor monitor;
  function new(string name, uvm_component parent); super.new(name, parent); endfunction
  function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    monitor = ddr5_monitor::type_id::create("monitor", this);
    if (get_is_active() == UVM_ACTIVE) begin
      sequencer = ddr5_sequencer::type_id::create("sequencer", this);
      driver    = ddr5_driver::type_id::create("driver", this);
    end
  endfunction
  function void connect_phase(uvm_phase phase);
    if (get_is_active() == UVM_ACTIVE)
      driver.seq_item_port.connect(sequencer.seq_item_export);
  endfunction
endclass
`endif
